.logos a {
	margin-right: 23px;
}

.logosNoPadding a {
	margin-right: 0px!important;
}

.logos a, .logos a:visited {
	display: block;
	width: 160px;
	float: left;
	text-decoration: none;
	color: black;
	padding-top: 110px;
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-bottom: 20px;
}

#quotes {
	height: 18em;
}

h3.sideLogo {
	margin-bottom: 20px;
}

.sideLogo p {
	margin-top: 20px;
}